<div class="container mt-4">
  <h3 class="fw-bold">Assign Test #{{ testId }}</h3>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="card p-3 shadow-sm">
        <h5>Assign to Student</h5>
        <input type="number" [(ngModel)]="studentId" class="form-control mb-2" placeholder="Enter Student ID">
        <button class="btn btn-primary" (click)="assignToStudent()">Assign</button>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card p-3 shadow-sm">
        <h5>Assign to Group</h5>
        <input type="number" [(ngModel)]="groupId" class="form-control mb-2" placeholder="Enter Group ID">
        <button class="btn btn-success" (click)="assignToGroup()">Assign</button>
      </div>
    </div>
  </div>
</div>
